# node
node_modules/
dist/
build/

# Vite
.env
.env.local
.env.*.local

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# local env files (very important!)
backend/.env
frontend/.env
